In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import datetime as dt
import numpy as np

In [2]:
 # The path to our CSV file
file = "../Resources/covid_us_states.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [3]:
df.columns

Index(['date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [4]:
reduced_df = df.loc[:, ["date", "state", "cases"]]
reduced_df

             date          state   cases
0      2020-01-21     Washington       1
1      2020-01-22     Washington       1
2      2020-01-23     Washington       1
3      2020-01-24       Illinois       1
4      2020-01-24     Washington       1
...           ...            ...     ...
15629  2020-12-11       Virginia  274438
15630  2020-12-11     Washington  204484
15631  2020-12-11  West Virginia   60637
15632  2020-12-11      Wisconsin  461367
15633  2020-12-11        Wyoming   38785

[15634 rows x 3 columns]

In [16]:
len(df.cases)

15634

In [9]:
# unpivot dates

states = []
date = []
cases = []

dates = list(rows.tolist()[0])
#cases = (rows.tolist()[1])

for index, rows in df.iterrows():
    if len(rows.tolist[2]) == len(dates) and len(dates) == len(cases):
        cases = cases + rows.tolist()[1]
        #print(rows.tolist())
        #print(rows.tolist()[1])
        state = rows[1]
        #print(state)
        states = ([state]*len(dates))
        
print(cases)
    
pd.DataFrame({
     "state": state,
     "cases": cases,
    "date": date
 })

NameError: name 'rows' is not defined

In [11]:
len(date)

0